<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${project.version}" verbose="0" configfailurepolicy="skip">
  <parameter name="wfs"  value=""/>
  <parameter name="fid"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.iso19142.TestRunListener" />
    <listener class-name="org.opengis.cite.iso19142.SuiteFixtureListener" />
  </listeners>

  <test name="Preconditions">
    <classes>
      <class name="org.opengis.cite.iso19142.SuitePreconditions"/>
    </classes>
  </test>
  <test name="All GML application schemas">
    <classes>
      <class name="org.opengis.cite.iso19136.general.XMLSchemaTests" />
      <class name="org.opengis.cite.iso19136.general.GeneralSchemaTests" />
      <class name="org.opengis.cite.iso19136.general.ModelAndSyntaxTests" />
      <class name="org.opengis.cite.iso19136.general.ComplexPropertyTests" />
    </classes>
  </test>
  <test name="GML application schemas defining features">
    <classes>
      <class name="org.opengis.cite.iso19136.components.FeatureComponentTests" />
    </classes>
  </test>
  <test name="Simple WFS">
    <packages>
      <package name="org.opengis.cite.iso19142.simple" />
    </packages>
  </test>
  <test name="Basic WFS">
    <packages>
      <package name="org.opengis.cite.iso19142.basic" />
      <package name="org.opengis.cite.iso19142.basic.filter" />
    </packages>
  </test>
  <test name="Temporal filter">
    <packages>
      <package name="org.opengis.cite.iso19142.basic.filter.temporal" />
    </packages>
  </test>
  <test name="Spatial filter">
    <packages>
      <package name="org.opengis.cite.iso19142.basic.filter.spatial" />
    </packages>
  </test>
  <test name="Spatial joins">
    <classes>
      <class name="org.opengis.cite.iso19142.joins.SpatialJoinTests" />
    </classes>
  </test>
  <test name="Transactional WFS">
    <classes>
      <class name="org.opengis.cite.iso19142.transaction.TransactionCapabilitiesTests" />
      <class name="org.opengis.cite.iso19142.transaction.Update" />
      <class name="org.opengis.cite.iso19142.transaction.InsertTests" />
      <class name="org.opengis.cite.iso19142.transaction.ReplaceTests" />
      <class name="org.opengis.cite.iso19142.transaction.DeleteTests" />
    </classes>
  </test>
  <test name="Locking WFS">
    <classes>
      <class name="org.opengis.cite.iso19142.locking.LockingCapabilitiesTests" />
      <class name="org.opengis.cite.iso19142.locking.LockFeatureTests" />
      <class name="org.opengis.cite.iso19142.locking.GetFeatureWithLockTests" />
    </classes>
  </test>
  <test name="Response paging">
    <packages>
      <package name="org.opengis.cite.iso19142.paging" />
    </packages>
  </test>
  <test name="Manage stored queries">
    <packages>
      <package name="org.opengis.cite.iso19142.querymgmt" />
    </packages>
  </test>
  <test name="Feature versions">
    <packages>
      <package name="org.opengis.cite.iso19142.versioning" />
    </packages>
  </test>
</suite>
