<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${project.version}" verbose="0" configfailurepolicy="skip">
  <parameter name="wfs"  value=""/>
  <parameter name="fid"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.iso19142.TestRunListener" />
    <listener class-name="org.opengis.cite.iso19142.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.iso19136.SuiteFixtureListener" />
  </listeners>
  <test name="All GML application schemas">
    <classes>
      <class name="org.opengis.cite.iso19142.Prerequisites" />
      <class name="org.opengis.cite.iso19136.general.XMLSchemaTests" />
      <class name="org.opengis.cite.iso19136.general.GeneralSchemaTests" />
      <class name="org.opengis.cite.iso19136.general.ModelAndSyntaxTests" />
      <class name="org.opengis.cite.iso19136.general.ComplexPropertyTests" />
    </classes>
  </test>
  <test name="GML application schemas defining features and feature collections">
    <classes>
      <class name="org.opengis.cite.iso19136.components.FeatureComponentTests" />
    </classes>
  </test>
  <test name="Simple WFS">
    <packages>
      <package name="org.opengis.cite.iso19142.simple" />
    </packages>
  </test>
  <test name="Basic WFS">
    <classes>
      <class name="org.opengis.cite.iso19142.basic.BasicCapabilitiesTests" />
      <class name="org.opengis.cite.iso19142.basic.GetPropertyValueTests" />
      <class name="org.opengis.cite.iso19142.basic.BasicGetFeatureTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.PropertyIsNullOperatorTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.PropertyIsNilOperatorTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.PropertyIsEqualToOperatorTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.RelationalOperatorTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.PropertyIsLikeOperatorTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.ResourceIdOperatorTests" />
      <class name="org.opengis.cite.iso19142.basic.filter.BBOXOperatorTests" />
    </classes>
  </test> 
  <test name="Transactional WFS">
    <classes>
      <class name="org.opengis.cite.iso19142.transaction.TransactionCapabilitiesTests" />
      <class name="org.opengis.cite.iso19142.transaction.Update" />
      <class name="org.opengis.cite.iso19142.transaction.InsertTests" />
      <class name="org.opengis.cite.iso19142.transaction.ReplaceTests" />
      <class name="org.opengis.cite.iso19142.transaction.DeleteTests" />
    </classes>
  </test>
  <test name="Locking WFS">
    <classes>
      <class name="org.opengis.cite.iso19142.locking.LockingCapabilitiesTests" />
      <class name="org.opengis.cite.iso19142.locking.LockFeatureTests" />
      <class name="org.opengis.cite.iso19142.locking.GetFeatureWithLockTests" />
    </classes>
  </test>
</suite>
