<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Feature Service (WFS)</name>
    <version>
      <name>2.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/iso19142</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>WFS 2.0 (ISO 19142:2010) Conformance Test Suite</title>
        <description>Checks WFS 2.0 implementations for conformance to ISO 19142:2010.</description>
        <BasicConformanceClasses>
          <conformanceClass>Preconditions</conformanceClass>
          <conformanceClass>All GML application schemas</conformanceClass>
          <conformanceClass>GML application schemas defining features</conformanceClass>
          <conformanceClass>Simple WFS</conformanceClass>
          <conformanceClass>Basic WFS</conformanceClass>
        </BasicConformanceClasses>
      </suite>
      <revision>
        <name>${project.version}</name>
        <sources>
          <source>wfs/${spec-version}/ctl</source>
        </sources>
        <webdir>wfs/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
